<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>MediTrack</title>
  </head>
  <body>
    <img src="{% static 'image/logo.png' %}" alt="logo" />
    <h2>Welcome to MediTrack {{what}} users {{ r | length}}</h2>
    {% if m == 21 %}
    <h3>If part</h3>
    {% else %}
    <h6>else part</h6>
    {% endif %} {% for tn in name reversed %} {{forloop.counter}} {{tn}}
    <br />
    {% endfor%}
  </body>
</html>
